@import '../../../styles/abstracts/index';

.c-footer {
  background-color: $color-cinder;
  color: $color-white;
  flex-shrink: 0;
  padding: pad(large) 0;

  &__logos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__logo {
    &:hover {
      color: $primary-color;
      text-decoration: none;
    }
  }

  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__menu-link {
    color: $color-white;
    font-size: $g-font-size-small;

    &:hover {
      color: $color-white;
    }
  }
}
