@import '../../../styles/abstracts/index';

.c-footer {
  background-color: $secondary-color;
  color: $color-white;
  flex-shrink: 0;
  padding: pad(large) 0;

  &__inner {
    display: grid;
    grid-gap: px-to-rem(32px);
    grid-template-columns: 3fr 1fr 1fr;
  }

  &__logos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__logo {
    &:hover {
      color: $primary-color;
      text-decoration: none;
    }
  }

  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__menu-item {
    margin-bottom: gap(2xsmall);
  }

  &__menu-link {
    color: $color-white;
  }
}
