$color-white: #fff;
$color-ghost: #fafafa;
$color-snow: #f9f9f9;
$color-vapor: #f6f6f6;
$color-white-smoke: #f5f5f5;
$color-silver: #efefef;
$color-smoke: #eee;
$color-gainsboro: #ddd;
$color-iron: #ccc;
$color-base: #aaa;
$color-aluminum: #999;
$color-jumbo: #888;
$color-monsoon: #777;
$color-steel: #666;
$color-charcoal: #555;
$color-tuatara: #444;
$color-oil: #333;
$color-jet: #222;
$color-black: #000;
$color-cod-gray: #121212;

$color-persimmon: #ff5a57;

$primary-color: $color-persimmon;
$secondary-color: $color-oil;
