//
//  Colors
//

//
// Default Colors
//

$color-white: #fff;
$color-ghost: #fafafa;
$color-snow: #f9f9f9;
$color-vapor: #f6f6f6;
$color-white-smoke: #f5f5f5;
$color-silver: #efefef;
$color-smoke: #eee;
$color-gainsboro: #ddd;
$color-iron: #ccc;
$color-silver-chalice: #aaa;
$color-aluminum: #999;
$color-jumbo: #888;
$color-monsoon: #777;
$color-steel: #666;
$color-charcoal: #555;
$color-tuatara: #444;
$color-oil: #333;
$color-jet: #222;
$color-black: #000;

//
// Custom Colors
//

$color-royal-blue: #4c5be6;
$color-tundora: #4a4a4a;
$color-ebony-clay: #272939;
$color-cinder: #11121a;
$color-comet: #575a80;
$color-carnation: #fd5a57;
$color-burnt-sienna: #e6964c;
$color-fountain-blue: #4db6ac;
$color-regent-st-blue: #a0d3e8;
$color-trout: #50515e;
$color-alto: #d9d9d9;

//
// Project Colors
//

$primary-color: $color-royal-blue;
$secondary-color: $color-tundora;
$alert-color: $color-carnation;
$success-color: $color-fountain-blue;
$warning-color: $color-burnt-sienna;
$info-color: $color-regent-st-blue;
