//
// Pads
//

.u-pad {
  // Top
  &-top {
    padding-top: pad();
  }

  &-top-small {
    padding-top: pad(small);
  }

  &-top-xsmall {
    padding-top: pad(xsmall);
  }

  &-top-2xsmall {
    padding-top: pad(2xsmall);
  }

  &-top-medium {
    padding-top: pad(medium);
  }

  &-top-large {
    padding-top: pad(large);
  }

  &-top-xlarge {
    padding-top: pad(xlarge);
  }

  &-top-2xlarge {
    padding-top: pad(2xlarge);
  }

  // Bottom
  &-bottom {
    padding-bottom: pad();
  }

  &-bottom-small {
    padding-bottom: pad(small);
  }

  &-bottom-xsmall {
    padding-bottom: pad(xsmall);
  }

  &-bottom-2xsmall {
    padding-bottom: pad(2xsmall);
  }

  &-bottom-medium {
    padding-bottom: pad(medium);
  }

  &-bottom-large {
    padding-bottom: pad(large);
  }

  &-bottom-xlarge {
    padding-bottom: pad(xlarge);
  }

  &-bottom-2xlarge {
    padding-bottom: pad(2xlarge);
  }

  // Left
  &-left {
    padding-left: pad();
  }

  &-left-small {
    padding-left: pad(small);
  }

  &-left-xsmall {
    padding-left: pad(xsmall);
  }

  &-left-2xsmall {
    padding-left: pad(2xsmall);
  }

  &-left-medium {
    padding-left: pad(medium);
  }

  &-left-large {
    padding-left: pad(large);
  }

  &-left-xlarge {
    padding-left: pad(xlarge);
  }

  &-left-2xlarge {
    padding-right: pad(2xlarge);
  }

  // Right
  &-right {
    padding-right: pad();
  }

  &-right-small {
    padding-right: pad(small);
  }

  &-right-xsmall {
    padding-right: pad(xsmall);
  }

  &-right-2xsmall {
    padding-right: pad(2xsmall);
  }

  &-right-medium {
    padding-right: pad(medium);
  }

  &-right-large {
    padding-right: pad(large);
  }

  &-right-xlarge {
    padding-right: pad(xlarge);
  }

  &-right-2xlarge {
    padding-right: pad(2xlarge);
  }

  // Ends
  &-ends {
    padding-bottom: pad();
    padding-top: pad();
  }

  &-ends-small {
    padding-bottom: pad(small);
    padding-top: pad(small);
  }

  &-ends-xsmall {
    padding-bottom: pad(xsmall);
    padding-top: pad(xsmall);
  }

  &-ends-2xsmall {
    padding-bottom: pad(2xsmall);
    padding-top: pad(2xsmall);
  }

  &-ends-medium {
    padding-bottom: pad(medium);
    padding-top: pad(medium);
  }

  &-ends-large {
    padding-bottom: pad(large);
    padding-top: pad(large);
  }

  &-ends-xlarge {
    padding-bottom: pad(xlarge);
    padding-top: pad(xlarge);
  }

  &-ends-2xlarge {
    padding-bottom: pad(2xlarge);
    padding-top: pad(2xlarge);
  }

  // Sides
  &-sides {
    padding-left: pad();
    padding-right: pad();
  }

  &-sides-small {
    padding-left: pad(small);
    padding-right: pad(small);
  }

  &-sides-xsmall {
    padding-left: pad(xsmall);
    padding-right: pad(xsmall);
  }

  &-sides-2xsmall {
    padding-left: pad(2xsmall);
    padding-right: pad(2xsmall);
  }

  &-sides-medium {
    padding-left: pad(medium);
    padding-right: pad(medium);
  }

  &-sides-large {
    padding-left: pad(large);
    padding-right: pad(large);
  }

  &-sides-xlarge {
    padding-left: pad(xlarge);
    padding-right: pad(xlarge);
  }

  &-sides-2xlarge {
    padding-left: pad(2xlarge);
    padding-right: pad(2xlarge);
  }
}

//
// Clear Pads
//

.u-clear-pad {
  padding: 0;

  &-top {
    padding-top: 0;
  }

  &-bottom {
    padding-bottom: 0;
  }

  &-right {
    padding-right: 0;
  }

  &-left {
    padding-left: 0;
  }

  &-ends {
    padding-bottom: 0;
    padding-top: 0;
  }

  &-sides {
    padding-bottom: 0;
    padding-top: 0;
  }
}
