//
// Font Weight
// -------------------------

.u-font-weight-regular {
  font-weight: 400;
}

.u-font-weight-bold {
  font-weight: 700;
}

//
// Font Size
//
.u-font-size {
  &-small {
    font-size: $g-font-size-small;
  }

  &-xsmall {
    font-size: $g-font-size-xsmall;
  }

  &-2xsmall {
    font-size: $g-font-size-2xsmall;
  }

  &-medium {
    font-size: $g-font-size-medium;
  }

  &-large {
    font-size: $g-font-size-large;
  }

  &-xlarge {
    font-size: $g-font-size-xlarge;
  }
}

//
// Alignment
//

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

//
// Text Decoration
//
.u-text-decoration-none {
  text-decoration: none;
}

// Colors
.u-color-primary {
  color: $primary-color;
}

.u-color-secondary {
  color: $secondary-color;
}

.u-color-white {
  color: $color-white;
}

.u-color-muted {
  color: $g-text-muted-color;
}

// Case
.u-text-lowercase {
  text-transform: lowercase;
}

.u-text-uppercase {
  text-transform: uppercase;
}
