//
// Colors
//

//
// Colors
//

//
// Contextual colors
// -------------------------

.u-color-muted {
  color: $g-text-muted-color;
}

.u-color-primary {
  color: $primary-color;
}

.u-color-success {
  color: $success-color;
}

.u-color-alert {
  color: $alert-color;
}

.u-color-warning {
  color: $warning-color;
}

.u-color-white {
  color: $color-white;
}

.u-color-black {
  color: $color-black;
}

.u-color-ebony-clay {
  color: $color-ebony-clay;
}

.u-color-cinder {
  color: $color-cinder;
}

.u-color-comet {
  color: $color-comet;
}

.u-color-trout {
  color: $color-trout;
}

.u-color-alto {
  color: $color-alto;
}

//
// Background
//

.u-bg-primary {
  background-color: $primary-color;
}

.u-bg-secondary {
  background-color: $secondary-color;
}

.u-bg-success {
  background-color: $success-color;
}

.u-bg-alert {
  background-color: $alert-color;
}

.u-bg-warning {
  background-color: $warning-color;
}

.u-bg-white {
  background-color: $color-white;
}

.u-bg-black {
  background-color: $color-black;
}

.u-bg-ebony-clay {
  background-color: $color-ebony-clay;
}

.u-bg-cinder {
  background-color: $color-cinder;
}

.u-bg-comet {
  background-color: $color-comet;
}

.u-bg-trout {
  background-color: $color-trout;
}

.u-bg-alto {
  background-color: $color-alto;
}
