//
// Vertical Align
//
// | Class                  | Description |
// | ---------------------- | ------------- |
// | `.u-align-top`         | Align the top of an element and its descendants with the top of the entire line. |
// | `.u-align-bottom`      | Align the bottom of an element and its descendants with the bottom of the entire line. |
// | `.u-align-middle`      | Align the middle of an element with the baseline plus half the x-height of the parent. |
// | `.u-align-baseline`    | Align the baseline of an element with the baseline of its parent. (Initial value) |
// | `.u-align-text-bottom` | Align the bottom of an element with the bottom of the parent element's font. |
//

.u-align {
  &-top {
    vertical-align: top;
  }

  &-bottom {
    vertical-align: bottom;
  }

  &-middle {
    vertical-align: middle;
  }

  // Initial value
  &-baseline {
    vertical-align: baseline;
  }

  &-text-bottom {
    vertical-align: text-bottom;
  }
}
