html {
  box-sizing: border-box; // 1
  -webkit-tap-highlight-color: transparent; // 2
}

// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see

*,
*::before,
*::after {
  box-sizing: inherit;
}

//
// Body
//
// 1. Set an explicit initial text-align value so that we can later use the
//    the `inherit` value on things like `<th>` elements.

body {
  background-color: $g-body-bg;
  color: $g-text-color;
  font-family: $g-font-family-base;
  font-size: $g-font-size-base;
  line-height: $g-line-height-base;
  text-align: left; // 1
}

// Links

a {
  color: $g-link-color;
  text-decoration: none;
  transition: color 0.4s;

  &:focus {
    // Reset outline for chrome
    outline: none;
  }

  &:hover {
    color: $g-link-hover-color;
    text-decoration: $g-link-hover-decoration;
  }
}

img {
  vertical-align: middle;
}

//
// Typography
//

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.heading {
  @include heading-styles();
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-bottom: $g-line-height-computed;
  margin-top: $g-line-height-computed;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-bottom: ($g-line-height-computed / 1.5);
  margin-top: ($g-line-height-computed / 1.5);
}

h1,
.h1 {
  font-size: $g-font-size-h1;
}

h2,
.h2 {
  font-size: $g-font-size-h2;
}

h3,
.h3 {
  font-size: $g-font-size-h3;
}

h4,
.h4 {
  font-size: $g-font-size-h4;
}

h5,
.h5 {
  font-size: $g-font-size-h5;
}

h6,
.h6 {
  font-size: $g-font-size-h6;
}

//
// Body text
//

p {
  margin-bottom: 0;
  margin-top: ($g-line-height-computed / 1.5);
}

//
// Lists
//

// Unordered and Ordered lists
ul,
ol {
  margin-bottom: ($g-line-height-computed / 1.5);
  margin-top: 0;

  ul,
  ol {
    margin-bottom: 0;
  }
}
