@import '../../../styles/abstracts/index';

.c-menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: auto;

  &__link {
    color: $color-white;
    font-size: $g-font-size-small;
    margin-right: gap();
    position: relative;

    &::after {
      background-color: $color-white;
      border-radius: 50%;
      bottom: px-to-rem(-6px);
      content: '';
      display: block;
      height: px-to-rem(4px);
      left: calc(50% - #{px-to-rem(2px)});
      opacity: 0;
      position: absolute;
      transition: opacity 0.4s;
      width: px-to-rem(4px);
    }

    &:hover,
    &.is-active {
      color: $color-white;
      text-decoration: none;

      // stylelint-disable-next-line max-nesting-depth
      &::after {
        opacity: 1;
      }
    }
  }
}
