// stylelint-disable max-nesting-depth

@mixin make-utility-responsive-up($breakpoints: map-keys($grid-breakpoints)) {
  $grid-breakpoints-first: nth(map-keys($grid-breakpoints), 1);
  @each $point in $breakpoints {
    // Skip if first element(xs)
    @if not($point == $grid-breakpoints-first) {
      @include media-breakpoint-up($point) {
        &\@#{$point}-up {
          @content;
        }
      }
    }
  }
}

@mixin make-utility-responsive-down($breakpoints: map-keys($grid-breakpoints)) {
  $grid-breakpoints-keys: map-keys($grid-breakpoints);
  $grid-breakpoints-last: nth($grid-breakpoints-keys, length($grid-breakpoints-keys));
  @each $point in $breakpoints {
    // Skip if last element(xl)
    @if not($point == $grid-breakpoints-last) {
      @include media-breakpoint-down($point) {
        &\@#{$point}-down {
          @content;
        }
      }
    }
  }
}

@mixin make-utility-responsive($breakpoints: map-keys($grid-breakpoints)) {
  @include make-utility-responsive-up($breakpoints) {
    @content;
  }

  @include make-utility-responsive-down($breakpoints) {
    @content;
  }
}
